.home {
  display: grid;
  grid-template-areas:
    'hero'
    'services'
    'process'
    'partners'
    'motivation'
    'footer';
}

.container {
  width: 100%;
  padding: var(--spacing-xl) var(--horizontal-inset);
}

.hero-header {
  grid-area: hero;
  padding-top: 30vh;
  padding-bottom: 12rem;
}

.hero-header .hero-title {
  font-weight: var(--font-weigt-bold);
  font-size: var(--font-size-xl);
  line-height: 1.6;
  letter-spacing: 0.026rem;
  margin-bottom: var(--spacing-sm);
}

.hero-header .hero-lead {
  font-size: var(--font-size-md);
  letter-spacing: 0.028rem;
  color: var(--color-text-subtle);
  margin-bottom: var(--spacing-lg);
}

.hero-header .hero-cta {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-bold);
}

.services-section {
  grid-area: services;
  background-color: var(--sand);
}

.service-list {
  margin-top: var(--spacing-lg);
}

.service-list dt {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin-top: var(--spacing-md);
}

.service-list dd:nth-of-type(even) {
  font-size: var(--font-size-sm);
  color: var(--color-text-subtle);
  margin-top: var(--spacing-xs);
}

.process-section {
  grid-area: process;
  color: var(--color-text-inverted);
  background-color: var(--black);
}

.partners-section {
  grid-area: partners;
  text-align: center;
  padding-bottom: var(--spacing-base);
}

.partners-logos {
  list-style-type: none;
  margin-top: var(--spacing-lg);
}

.partners-logos li {
  max-width: 300px;
  margin: var(--spacing-base) auto;
}

.process-overview {
  font-size: var(--font-size-sm);
  color: var(--color-text-inverted-subtle);
  list-style-type: none;
  margin-top: var(--spacing-lg);
}

.motivation-section {
  grid-area: motivation;
}

.motivation-section .o-brand-wordmark {
  font-size: var(--font-size-base);
}

.motivation-section-header {
  margin-bottom: var(--spacing-lg);
}

.contact-section {
  grid-area: footer;
}

.contact-section-form {
  padding: var(--spacing-xl) var(--horizontal-inset);
  background-color: var(--sand);
}

.contact-section-details {
  padding: var(--spacing-xl) var(--horizontal-inset);
}

.contact-section-links,
.contact-section-socials {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: var(--spacing-xl);
}

.contact-link {
  display: inline-block;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  letter-spacing: -0.2px;
  margin-bottom: var(--spacing-sm);
}

.contact-section-socials {
  flex-direction: row;
  justify-content: flex-end;
}

.social-link {
  margin-left: var(--spacing-sm);
}

@media (min-width: 768px) {
  .home {
    grid-template-columns: repeat(5, 20vw);
    grid-template-areas:
      'hero hero hero hero hero'
      'services services services services .'
      '. process process process process'
      'partners partners partners partners partners'
      'motivation motivation motivation motivation motivation'
      'footer footer footer footer footer';
  }

  .hero-header {
    padding-top: 10vh;
  }

  .services-section {
    position: relative;
    padding-bottom: calc(var(--spacing-lg) + 12rem);
    border-radius: 0 2rem 2rem 0;
  }

  .process-section {
    padding-top: calc(var(--spacing-lg) + 12rem);
    margin-top: -12rem;
    border-radius: 2rem 0 0 2rem;
  }

  .partners-section {
    padding-bottom: var(--spacing-xl);
    margin-top: var(--spacing-lg);
  }

  .partners-logos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .partners-logos li {
    width: calc(100% / 3);
  }

  .motivation-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .motivation-section-content {
    align-self: flex-end;
    text-align: justify;
    width: 70%;
  }

  .motivation-section-header {
    width: 40%;
    margin-bottom: var(--spacing-sm);
  }

  .contact-section-form {
    width: 80%;
    border-radius: 0 2rem 2rem 0;
  }
}

@media (min-width: 1024px) {
  .home {
    grid-template-rows: auto 15rem auto 15rem auto;
    grid-template-columns: 50vw 1fr;
    grid-template-areas:
      'hero hero'
      'services .'
      'services process'
      '. process'
      'partners partners'
      'motivation motivation'
      'footer footer';
  }

  .services-section {
    padding-bottom: 12rem;
  }

  .process-section {
    padding-top: var(--spacing-xl);
    margin-top: 0;
  }

  .motivation-section-content {
    width: 60%;
  }

  .contact-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-xl);
  }

  .contact-section-details {
    width: 50%;
  }

  .contact-section-form {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .hero-header,
  .partners-section,
  .motivation-section {
    padding-left: var(--constrained-horizontal-inset);
    padding-right: var(--constrained-horizontal-inset);
  }

  .services-section,
  .contact-section-form {
    padding-left: var(--constrained-horizontal-inset);
  }

  .process-section,
  .contact-section-details {
    padding-right: var(--constrained-horizontal-inset);
  }
}
