:root {
  --black: #000;
  --grey: #ededed;
  --sand: #f9f6f7;

  --color-text: var(--black);
  --color-text-subtle: #4f4f4f;
  --color-text-inverted: #ffffff;
  --color-text-subtle-inverted: #a2a2a2;
}
