:root {
  --spacing-xs: 0.8rem;
  --spacing-sm: 1.6rem;
  --spacing-base: 3.2rem;
  --spacing-md: 4rem;
  --spacing-lg: 5.6rem;
  --spacing-xl: 8rem;
}

@media (min-width: 768px) {
  :root {
    --spacing-sm: 3.2rem;
  }
}
